#canvas-wrapper
{
	text-align: center;
	/*max-height: 100px;*/
	height: 100px;
	width: 950px;
	/*max-width: 950px;*/
	
	/*margin: 200px auto 0 auto;*/
	margin: 200px;
	color: #FFF;

	/*margin-left: auto;
	margin-right: auto;*/
}
#font{
	background: #000000;
	color: #FFF;
	text-align: center;
	margin: 0；
}